image: ruby:2.3

pages:
  script:
  - gem update --system
  - gem install bundler
  - bundler update --bundler
  - gem install jekyll
  - jekyll build -d public/
  artifacts:
    paths:
    - public
  only:
  - master
